<h1 mat-dialog-title>New Game</h1>

<div mat-dialog-content>
    <form [formGroup]="addGameForm">
        <div class="container" >
            <div class="form">
                <mat-form-field class="fullWidth" appearance="outline">
                    <mat-label>Game Number *</mat-label>
                    <input matInput type="text" name="gameNumber" formControlName="gameNumber" />
                    <mat-error *ngIf="addGameForm.controls['gameNumber']?.errors?.required">
                        field required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field class="fullWidth" appearance="outline">
                    <mat-label>Name *</mat-label>
                    <input matInput type="text" name="name" formControlName="name" />
                    <mat-error *ngIf="addGameForm.controls['name']?.errors?.required">
                        field required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form">
                <mat-form-field class="fullWidth" appearance="outline">
                    <mat-label>Price *</mat-label>
                    <input matInput type="number" name="price" formControlName="price" />
                    <mat-error *ngIf="addGameForm.controls['price']?.errors?.required">
                        field required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="mt-5">
                <mat-form-field class="fullWidth" appearance="outline">
                    <mat-label>Book Total *</mat-label>
                    <input matInput type="number" name="bookTotal" formControlName="bookTotal">
                    <mat-error *ngIf="addGameForm.controls['bookTotal']?.errors?.required">
                        field required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="fullWidth">
                <mat-checkbox formControlName="isActive" >IsActive</mat-checkbox>
            </div> 
        </div>
    </form>
</div>
<div class="mt-5" mat-dialog-actions>
    <button mat-raised-button color="primary" 
         [disabled]="addGameForm.invalid" (click)="save()"
        cdkFocusInitial>Save</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
</div>